<div class="departments card border-light mb-3 mt-4" style="width: 70%; margin: auto">
  <div class="create-button"> <a href="/create-department" class="green-button" >Create</a>
  </div>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of departmentPage.departments">
        <td scope="row">{{d.id}}</td>
        <td>{{d.name}}</td>
        <td><div class="edit-button"><a [queryParams]="{ id: d.id }"  [routerLink]="['update-department']" class="green-button" >Edit</a></div></td>
        <td><button class="btn btn-outline-danger" (click)="deleteDepartment(d.id)">Delete</button></td>
        <td><a [queryParams]="{ id: d.id }"  [routerLink]="['employees']" class="green-button">List</a></td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li *ngIf="departmentPage.pageViewModel.hasPreviousPage" class="page-item"> <button class="page-link" (click)="changePage(departmentPage.pageViewModel.pageNumber - 1)">Previous</button> </li>
        <li *ngIf="departmentPage.pageViewModel.hasNextPage" class="page-item" ><button class="page-link" (click)="changePage(departmentPage.pageViewModel.pageNumber + 1)">Next</button></li>
      </ul>
    </nav>
  </div>