<div class="departments card border-light mb-3 mt-4" style="width: 90%; margin: auto">
  <div class="create-button"> <a [queryParams]="{ id: queryId }" [routerLink]="['/create-employee']" class="green-button">Create</a></div>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Age</th>
        <th scope="col">Employeement Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employeesPage.employees">
            <td scope="row">{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.email}}</td>
            <td>{{e.age}}</td>
            <td>{{e.employeementDate}}</td>
            <td><div class="edit-button"><a [queryParams]="{ id: e.id, depId: queryId }"  [routerLink]="['/update-employee']" class="green-button" >Edit</a></div></td>
            <td><button class="btn btn-outline-danger" (click)="deleteEmployee(e.id)">Delete</button></td>
           
          </tr>     
        </tbody>        
  </table>
  <div *ngIf="employeesPage.employees == 0" class="no-data alert-info"><strong> No Data</strong></div>
  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li *ngIf="employeesPage.pageViewModel.hasPreviousPage" class="page-item"> <button class="page-link" (click)="changePage(employeesPage.pageViewModel.pageNumber - 1)">Previous</button> </li>
        <li *ngIf="employeesPage.pageViewModel.hasNextPage" class="page-item" ><button class="page-link" (click)="changePage(employeesPage.pageViewModel.pageNumber + 1)">Next</button></li>
      </ul>
    </nav>
  
  